.h1headercl {
  font-size: 42px;
  background: -webkit-linear-gradient(#70eef0, #8a6bf0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about {
  background: repeating-linear-gradient(
    45deg,
    #ffffff,
    #ffffff 10px,
    #e0f4b5 10px,
    #9df2b5 20px
  );
}
