.homecl {
  width: full;
  height: 500px;
}

/* Education */

.cap {
  border: none;
  height: 90px;
  display: inline-block;
}
.education {
  direction: center;
  padding-top: 110px;
  text-align: center;
  padding-bottom: 90px;
}

.h2cl {
  padding-top: 30px;
  padding-bottom: 30px;
}

/* Skills */

.h1ex {
  font-size: 72px;
  background: -webkit-linear-gradient(#45dde0, #3e15c6);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
