.homecl {
  width: full;
  height: 430px;
}

/* Education */

.cap {
  border: none;
  height: 90px;
  display: inline-block;
}
.education {
  background-color: rgb(251, 246, 240);
  direction: center;
  padding-top: 110px;
  text-align: center;
  padding-bottom: 130px;
}

.h2cl {
  padding-top: 30px;
  padding-bottom: 30px;
}
