.headercl {
  background-image: linear-gradient(to right, #70eef0, #8a6bf0);
  margin: 30px;
}
.titlenav {
  color: white;
}
.logome {
  height: 37px;
  display: inline-block;
  border: none;
  padding-right: 10px;
}
